body {
    margin: 0;
    background-color: #F1F7ED;
}

.about {
    padding: 50px;
    text-align: center;
    background-color: #087E8B;
    color: #F1F7ED;
}

h2 {
    text-align: center;
}

div {
    text-align: center;
    left: 50%;
}

.column {
    padding: 0 8px;
    margin-bottom: 16px;
    width: 33.3%;
    float: left;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.container {
    padding: 0 16px
}

img {
    width: 100%;
    height: 500px;
}
